/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

:root {
    --chopstick: #FBDC67;
    --chopstick-d: #fad347;
    --salmon: #F04154;
    --wasabi: #83D065;
    --rice: #F2F2F0;
    --roll: #1F2A31;
}

body {
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    background-color: var(--chopstick);
    color: var(--roll);
}

nav { 
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
}

nav > button {
    cursor: pointer;
    background-color: var(--salmon);
    border: 2px solid var(--roll);
    border-radius: 6px;
    color: var(--rice);
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
}

#logo {
    width: 20rem;
    margin: 0 auto 2rem;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
}

#description {
  max-width: 60ch;
  font-size: 1.25rem;
  margin: 0 auto;
  text-align: center;
}

#menu {
  width: 80%;
  margin: 0 auto;
}

h2 {
  padding: 1rem;
}

table {
  font-size: 1.15rem;
}

thead {
  background-color: var(--salmon);
  color: var(--rice);
}

thead > tr > th {
  padding: 0.5rem;
}

tr:nth-child(even){
  background-color: var(--chopstick-d);
}

td {
  padding-right: 3vw;
}